/*CSS for leaderboard*/
#leaderboard #players {
   padding: 0;
   width: 320px;
   margin: auto;
   position: relative;
 }

 #leaderboard #players li {
   display: grid;
   grid-template-columns: 1fr 2fr 7fr 3fr;
   align-items: center;
   width: 100%;
   transition-duration: .5s;
 }

 #leaderboard #players li.header {
   font-weight: bold;
 }

 #leaderboard #players li .photo img {
   width: 36px;
   height: 36px;
   border-radius: 18px;
 }

 #leaderboard .score,
 #leaderboard .rank {
   text-align: right;
 }

 #leaderboard #players div {
   display: block;
   padding: 5px;
 }